<!DOCTYPE html>
<html>
	<head>
		<!-- browser displaying char correctly -->
		<meta charset="utf-8"> 
		<!-- how mobile devices display the pages correctly based on device size -->
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<!-- google font -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

		<title>Travel Planner</title>
	</head>
	
	<body>
		<div class="headline">Travel Planner</div>

		<div class="app">
			<div class="form">
				<label>Where are you going?</label>
				<input type="text" id="input-city" placeholder="Enter the destination of your trip">

				<div class="time">
					<div>
						<label>From</label>
						<input type="date" id="input-from" placeholder="yyyy-mm-dd" required="required">
					</div>

					<div>
						<label>To</label>
						<input type="date" id="input-to" placeholder="yyyy-mm-dd" required="required">
					</div>
				</div>
				<button id="generate" type="submit">Save This Trip</button>
			</div>

			<!--a href="./newtrip.html"><button id="view" type="submit">View All Trips</button></a-->

			<div class="entries">
				<div class="record">All My Trips</div>
				<div id="entry">
					<div id="date"></div> 
					<div id="location"></div>
					<div id="temp"></div>
					<div id="lng"></div>
					<div id="lat"></div>
				</div>
			</div>
		</div>
			
	</body>
</html>