/* scss variables */
$app-font: 'Poppins', sans-serif;

* {
    /* browser specific prefixes */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;

    /* This setting includes padding and border
     * in an element's total width and height.
     * To ensure that it works in all browsers,
     * add the browser-specific prefixes above.
     */
    box-sizing: border-box;
}

/* ensures that the elements don't overflow */
img, embed, object, video {
    max-width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: $app-font;  
    color: #7c83f5;
    margin: 0;    
}

.app {
    display: grid;
    grid-row-gap: 25px;
    grid-template-columns: 1fr;
    justify-content: center;  
}

.headline {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 5%;
    background: linear-gradient(90deg, rgb(37, 217, 235) 0%, rgb(213, 44, 255) 100%);
    color: white;
}

/*  basic styling to override default for basic html elements */
label {
    display: block;
    font-size: 24px;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-size: 18px;
    color: #7b7b7f;
    background-color: #efefef;
}

#from,
#to {
    text-transform: uppercase;
} 

button {
    display: block;
    width: 100%;
    height: 60px;
    font: 20px $app-font;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate {
    background: #4cb2ef;
    color: white;   

    &:hover {
        background: white;
        color: #4cb2ef;  
        border: 2px solid #4cb2ef;     
    }    
}

a {
    text-decoration: none;
    #view {
        background: white;
        color: #8e72f7;  
        border: 2px solid #8e72f7;   

        &:hover {
            background: #8e72f7;
            color: white;
        }        
    }
}

.entry {
    background: #d9f7f4;
    min-height: 150px;
}

.title {
    padding: 10px 20px;
    background-color: #02a294;
    color: white;
}

#date,
#location,
#temp,
#content {
    padding: 10px 20px;
}

/* reset style for html element on active to have no border */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* style for placeholder text */
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: $app-font;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: $app-font;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: $app-font;
} 

/* style for input date field */
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}