/* scss variables */
$app-font: 'Ubuntu', sans-serif;
$gradient: linear-gradient(90deg,#03bcbd,#0b7ba5);

* {
    /* browser specific prefixes */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;

    /* This setting includes padding and border
     * in an element's total width and height.
     * To ensure that it works in all browsers,
     * add the browser-specific prefixes above.
     */
    box-sizing: border-box;
}

/* ensures that the elements don't overflow */
img, embed, object, video {
    max-width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: $app-font;  
    background: #333333;
    color: white;
    margin: 0;    
}

.app {
    display: grid;
    grid-row-gap: 25px;
    grid-template-columns: 1fr;
    justify-content: center;  
}

.headline {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 5%;
    background: $gradient;
    color: white;
}

/*  basic styling to override default for basic html elements */
label {
    display: block;
    font-size: 22px;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-size: 18px;
    color: #7b7b7f;
    background-color: #efefef;
}

#input-from,
#input-to {
    text-transform: uppercase;
} 

button {
    display: block;
    width: 100%;
    height: 60px;
    font: 20px $app-font;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate {
    background: #02d9b1;
    color: white;   

    &:hover {
        background: #333333;
        color: #02d9b1;  
        border: 2px solid #02d9b1;     
    }    
}

a {
    text-decoration: none;
    #view {
        background: white;
        color: #8e72f7;  
        border: 2px solid #8e72f7;   

        &:hover {
            background: #8e72f7;
            color: white;
        }        
    }
}

.entries {
    margin-top: 3%;
    font-size: 18px;
    color: white; 
    text-align: center;   

    .record {
        padding: 2% 0;
        font-size: 20px;
        text-align: left;
    }

    #entry {
        background: #4aabd0;
        padding-bottom: 6%;

        #img {
            width: 100%;
        }    

        #display {
            padding: 5%;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }
    }
}

/* reset style for html element on active to have no border */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* style for placeholder text */
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: $app-font;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: $app-font;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: $app-font;
} 

/* style for input date field */
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}